[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Moritz Salla
	email = 42788026+moritz@buildinamsterdam.com\n
